<div ng-app="app">
    <nav>
        <section>
        <h2>StagePass</h2>
        <h4>Don't support your local music scene...be a part of it.</h4>
        </section>
    </nav>
    <main  ui-view>
        <h4 class="description">StagePass lets you contribute to 
        your local music scene by connecting  
        people who are willing to share some
        of their extra space with bands who  
        need a place to practice.</h4>
       
        <h2>Register Your Space</h2>
            <button type="button" href="#" ui-sref-active="active" ui-sref="spaceregister" id="all-button">Register
            </button>
            <br>
<!--         <h2>Already a Space Master?</h2>
            <button type="button"  id="home-page" href="#" ui-sref-active="active" ui-sref="login">Space Master Login
            </button>
            <br> -->
        <h2>Need a place to Practice?</h2>
        <button type="button" href="#" ui-sref-active="active" ui-sref="band" id="all-button">Search for Space!</button>
    

    </main>
    <div id="body"></div>
</div>