<div ng-app="app" >
    <nav id="nav-padding">
       <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" ng-controller = "NavCtrl">
         <div class="container-fluid">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
              </button>
           </div>    

           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
               <li><a href="#" ui-sref-active='active' ui-sref='home'>Home</a></li>
               <li><a href="#" ng-hide="isLoggedin" ui-sref-active='active' ui-sref='login'>Login</a></li>
               <li><a href="#" ng-show="navRegister" ui-sref-active='active' ui-sref='spaceregister' ng-hide="isLoggedin">Create Profile</a></li>
               <li><a href="#" ui-sref-active='active' ui-sref='band'>Search</a></li>
               <li><a href="#" ng-click="logOut()" ng-show="isLoggedin">Logout</a></li>
             </ul>
           </div><!-- /.navbar-collapse -->
         </div><!-- /.container-fluid -->
       </nav>
   </nav>

    <section class="hero">
        <h1>StagePass</h1>
        <div  class='tag-line'>Do NOT support local music...
        <div class="rock">ROCK IT!</div></div>
    </section>

    <main  class="container" ui-view>

    </main> 
</div>