<div ng-app="app">
    <nav>
        <section>
        <h1>StagePass</h1>
        <h4>Don't support your local music scene...be a part of it.</h4>
           <!--  <a href="#" ui-sref-active="active" ui-sref="home"><span>Home</span></a> -->
    <!--         <a href="#" ui-sref-active="active" ui-sref="login"><span>Login</span></a>
            <a href="#" ui-sref-active="active" ui-sref="register"><span>Register</span></a> -->
        </section>
    </nav>
    <main ui-view>
        <a type="button" href="#" ui-sref-active="active" ui-sref="login"><span>Login</span></a><br>
        <a type="button" href="#" ui-sref-active="active" ui-sref="register"><span>Register</span></a>
    </main>
</div>