
<div class="container">
   <div class="row">
      <div id="search-form">
         <h3>Find the perfect practice pad!</h3>
         <span class="what-city"><strong>Which city? </strong><span>
         <input type="input" placeholder="Type City Name Here" class="city-name"  ng-model="usercity">
         <button type="submit" class="btn btn-default" ng-click="findCityBand()">Search
         </button>
      </div>
   </div>
   <div class="row">
      <div class='col-sm-12'>
         <table class="table table-striped table-bordered table-hover table-condensed table-responsive" ng-hide="schotz">
            <tr>
                  <th>Username/Email </th>
                  <th>Street</th>
                  <th class="hidden-xs"> City</th>
                  <th class="hidden-xs">Zip Code</th>
                  <th>Type</th>
                  <th class="hidden-xs"> Loading</th>
                  <th class="hidden-xs"> Storage</th>
                  <th class="hidden-xs"> Alcohol</th>
                  <th class="hidden-xs"> Smoking</th>
                  <th class="hidden-xs"> Guests</th>
            </tr>
            <tr ng-repeat="data in response">
                  <td><a href="mailto:">{{data.username}}</a></td>
                  <td>{{data.street}}</td>
                  <td class="hidden-xs">{{data.city}}</td>
                  <td class="hidden-xs">{{data.zip}}</td>
                  <td>{{data.spacetypes}}</td>
                  <td class="hidden-xs">{{data.loading}}</td>
                  <td class="hidden-xs">{{data.storage}}</td>
                  <td class="hidden-xs">{{data.alcohol}}</td>
                  <td class="hidden-xs">{{data.smoking}}</td>
                  <td class="hidden-xs">{{data.guests}}</td>
            </tr>
         </table>
      </div>
   </div>
   <div class="row">
      <div class='col-sm-12' id="map">
      </div>
   </div>
</div>

