<button id="all-button" type="button" href="#" ui-sref-active="active" ui-sref="home"><span>Home</span>
</button>
   <br>
<h3>Find the perfect practice pad!</h3>
   <br>
<h3>Explore Spaces</h3>
<div ng-controller="BandCtrl">
Which city? 
   <input type="input" placeholder="Type City Name Here" class="city-name"  ng-model="usercity">
   </input>
   <br><br><br>
   <button type="submit" class="city-search" ng-click="findCityBand()">Search
   </button>
	<table class="appts_table" id="main-table" ng-hide="schotz">
         <tr id="column-headers" class="table-head">
               <th>Username/Email </th>
               <th> City</th>
               <th>Type</th>
               <th> Loading</th>
               <th> Storage</th>
               <th> Alcohol</th>
               <th> Smoking</th>
               <th> Guests</th>
         </tr>
         <tr ng-repeat="data in response" class="table-data">
               <td>{{data.username}}</td>
               <td>{{data.city}}</td>
               <td>{{data.spacetypes}}</td>
               <td>{{data.loading}}</td>
               <td>{{data.storage}}</td>
               <td>{{data.alcohol}}</td>
               <td>{{data.smoking}}</td>
               <td>{{data.guests}}</td>
         </tr>
    </table>
</div>