<div class="row home">
	<div class="col-sm-6">
		<h2>Are you a band?</h2>
		<p>We know that its hard to find a place to practice.  With StagePass, you can easily search hundreds of band practice spaces in your city. </p>
		<a href="#" ui-sref="band" class="btn btn-lg btn-default" >Search for space!</a>
	</div>
	<div class="col-sm-6">
		<h2>Are you a space owner?</h2>
		<p>
		Being a part of your local music scene can be one of the most rewarding experiences of your life. Register your available space for bands and you'll have front rows seats to a constant stream of great live music!
		</p>
		<a href="#" ui-sref="spaceregister" class="btn btn-lg btn-default" >List your space!</a>
	</div>

</div>