section{
	text-align: center;
	background-color: black;
	color:#FFFFFF;
	font-family: LATO;
	padding: 3em 0 0 0;
	background: url('/images/rock-background.png') no-repeat;
	background-color: black;
}
section h2{
	font-size: 4em;
	color: #997744;
	margin-bottom: 0;
}
h1{
	font-size: 3em;
}

.tag-line{
	font-size: 1.5em;
}
.rock{
	height: 2em;
}
#button-div{
	text-align: center;
}
#all-button{
	height: 4em;
	text-align: center;
	margin-top: 0.25em;
	width: 12em;
	font-size: 1.25em;
	font-family: LATO;
	color: white;
	text-decoration: bold;
	border-shadow: 2px 2px 2px white;
	background: url(/images/blackground.jpg) no-repeat;
	border-radius: 20px;
	outline: none;
}
h2{
	// font-family: HARD ROCK;
	// text-align: center;
}
main {
	background-color: white;
	// padding: 2em 0 3em 0em;
}
.description{
	font-family: Lato;
	text-align: center;
}

@media(min-width: 768px){
section h2{
	font-size: 5em;
	color: #997744;
}
h1{
	font-size: 5em;
}

.description{
	padding-top: 1em;
	width: 55%;
	margin: 0 auto;
}
}
@media(min-width: 1024px){
section{
background: url('/images/rock-background.png') no-repeat;
background-color: black;
padding: 2em 0 0 0;
border-bottom: 2em solid rgb(34,34,34);
}
section h2{
	font-size: 7em;
	color: #997744;
	padding-top: 0.5em;
}
h1{
	font-size: 6em;
}
.tag-line{
	font-size: 2em;
	margin-bottom: 0;
}
.rock{
	height: 2em;
	margin-bottom: 0;
	padding-bottom: 0em;
}

}
