nav{
	text-align: center;
	background: url(/images/blackground.jpg) no-repeat fixed;
	color:#FFFFFF;
	font-family: Lato;
	padding: 1em 0 1em 0;
}
nav h2{
	font-size: 4em;
	color: #997744;
}
nav h4{
	font-size: 1.5em;
	margin-top: -2em;
}
#all-button{
	height: 4em;
	margin-top: 0.25em;
	width: 12em;
	font-size: 1.25em;
	font-family: Lato;
	color: white;
	text-decoration: bold;
	border-shadow: 2px 2px 2px white;
	background: url(/images/blackground.jpg) no-repeat;
	border-radius: 5px;
}
h2{
	font-family: Lato;
}
main {
	background: url(/images/white_texture.png);
	padding: 2em 0 3em 3.75em;
}
.description{
	font-family: Lato;
	text-align: center;
	margin-right: 3em;
	margin-left: -1em;
}
html{
	background: url(/images/blackground.jpg) fixed;
}
@media(min-width: 768px){
	h2{
		text-align: center;
	}
	#all-button{
		margin-left: 16em;
	}
}
@media(min-width: 1024px){
	#all-button{
		margin-left: 24em;
	}
}
