body{
	font-family: Lato;
}
#band-div{
	text-align: center;
}

button{
	text-align: center;
	// height: 1.75em;
}
#mobile-list{
	visibility: visible;
	width: 15em;
	margin: 0 auto;
}

#search-form{
	text-align: center;
}


#table-div{
	visibility: hidden;
}

#map{
	height: 400px;
	width: 100%;
}

@media(min-width: 768px){
	#mobile-list{
	visibility: hidden;
	height: 0em;
	}
	#main-table{
		visibility: visible;
		margin: 0 auto;
	}
	#table-div{
	margin: 0 auto;
	width: 80%;
	visibility: visible;
	}
	
}
@media(min-width: 1024px){

.ad{
	margin-left: 14em;
	height: 5em;
	background: url('http://images.guitarcenter.com/Content/GC/promo/2015/01-Jan/pencil/13680-Feb-Finance-hp-pencil-new.jpg') no-repeat;
}
	#all-button{
		// margin-left: 23em;
	}
	#search-form{
		// margin-left: -4.5em;
		text-align: center;
	}
	#main-table {
	margin: 0 auto;
}
}