h1 {
	// text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
	font-family: HARD ROCK;
	color: #997744;
	font-size: 5em;
}

h2{
	  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  font-size: 2.2em;
	  margin-bottom: 0.8em;
	}
.btn{
	background-color: #8B6225;
	color: #F4ECE0;
	font-weight: bold;
	border-radius: 0;
	font-size: 1.5em;

}

.hero {
	padding: 4em 0 1em 0
}