/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
nav {
  text-align: center;
  background-color: black;
  color: #FFFFFF;
  font-family: LATO;
  padding: 1em 0 1em 0; }

nav h2 {
  font-size: 4em;
  color: #997744; }

nav h4 {
  font-size: 1.5em; }

#button-div {
  text-align: center; }

#all-button {
  height: 4em;
  text-align: center;
  margin-top: 0.25em;
  width: 12em;
  font-size: 1.25em;
  font-family: LATO;
  color: white;
  text-decoration: bold;
  border-shadow: 2px 2px 2px white;
  background: url(/images/blackground.jpg) no-repeat;
  border-radius: 20px; }

h2 {
  font-family: HARD ROCK;
  text-align: center; }

main {
  background-color: white;
  padding: 2em 0 3em 0em; }

.description {
  font-family: Lato;
  text-align: center; }

@media (min-width: 768px) {
  nav h2 {
    font-size: 6em;
    color: #997744; }

  h2 {
    font-size: 4em; }

  .description {
    width: 50%;
    margin: 0 auto; } }
@media (min-width: 1024px) {
  nav h2 {
    font-size: 8em;
    color: #997744; }

  nav h4 {
    font-size: 3em; }

  nav {
    background: url("/images/rock-background.png") no-repeat;
    background-color: black; } }
body {
  font-family: Lato; }

#band-div {
  text-align: center; }

#band-button {
  height: 4em;
  text-align: center;
  margin-top: 0.25em;
  width: 12em;
  font-size: 1.25em;
  font-family: Lato;
  color: white;
  text-decoration: bold;
  border-shadow: 2px 2px 2px white;
  background: url(/images/blackground.jpg) no-repeat;
  border-radius: 30px; }

#mobile-list {
  visibility: visible;
  width: 15em;
  margin-left: 3.5em; }

.user {
  background-color: white;
  border-radius: 5px; }

#search-form {
  text-align: center; }

#main-table {
  font-family: Lato;
  text-align: center;
  border: solid black 5px;
  width: 90%;
  border-spacing: 0;
  border-radius: 5px;
  visibility: hidden; }

.table-head th {
  border-right: 1px solid black;
  border-bottom: 3px solid black;
  padding-top: 3px;
  background-color: black;
  color: white; }

.table-data td {
  padding-top: 5px;
  border-right: black solid 1px;
  background-color: white;
  text-align: center;
  border-bottom: black solid 1px; }

#search-button {
  height: 4em;
  margin-top: 0.25em;
  text-align: center;
  margin-bottom: 1em;
  width: 12em;
  font-size: 1.25em;
  font-family: Lato;
  color: white;
  text-decoration: bold;
  border-shadow: 2px 2px 2px 0 white;
  background: url(/images/blackground.jpg) no-repeat;
  border-radius: 30px; }

@media (min-width: 768px) {
  #mobile-list {
    visibility: hidden;
    height: 0em; }

  #main-table {
    visibility: visible;
    margin: 0 auto; }

  h2 {
    text-align: center; } }
@media (min-width: 1024px) {
  #search-form {
    text-align: center; }

  #main-table {
    margin: 0 auto; }

  #map {
    height: 400px;
    width: 50%;
    margin: 0 auto; } }
#all-button {
  height: 4em;
  margin-top: 0.25em;
  text-align: center;
  width: 12em;
  font-size: 1.25em;
  font-family: LATO;
  color: white;
  text-decoration: bold;
  border-shadow: 2px 2px 2px white;
  background: url(/images/blackground.jpg) no-repeat;
  border-radius: 30px; }

.rock-text {
  text-align: center;
  font-family: HARD ROCK; }

form {
  margin-left: 0em;
  text-align: center; }

p {
  color: red; }

#form-button {
  height: 4em;
  margin-top: 0.25em;
  text-align: center;
  width: 12em;
  font-size: 1.25em;
  font-family: Lato;
  color: white;
  text-decoration: bold;
  border-shadow: 2px 2px 2px white;
  background: url(/images/blackground.jpg) no-repeat;
  border-radius: 30px; }

@media (min-width: 1024px) {
  #all-button {
    text-align: center; } }
#all-buttons {
  text-align: center; }

/*# sourceMappingURL=importer.css.map */
