#band-div{
	text-align: center;
}
#band-button{
	height: 4em;
	text-align: center;
	margin-top: 0.25em;
	width: 12em;
	font-size: 1.25em;
	font-family: Lato;
	color: white;
	text-decoration: bold;
	border-shadow: 2px 2px 2px white;
	background: url(/images/blackground.jpg) no-repeat;
	border-radius: 30px;
}
h4{
	text-align: center;
}