 <div  ng-controller="ProfileCtrl">
<!-- 
 	<div id="band-div">
 		<button id="band-button" type="button" href="#" ui-sref-active="active" ui-sref="home">
      	Home
   		</button>
 	</div>
 -->	
 <h4>Your profile</h4>
 


<!-- Table that shows profile -->
	 <ul class="container">
	  <li>USERNAME:  {{response.username}}</li>
      <li>STREET:  {{response.street}}</li>
      <li>CITY:  {{response.city}}</li>
      <li>ZIP:  {{response.zip}}</li>
      <li>TYPE:  {{response.spacetypes}}</li>
      <li>LOADING ISSUES:  {{response.loading}}</li>
      <li>STORAGE:  {{response.storage}}</li>
      <li>ALCOHOL:  {{response.alcohol}}</li>
      <li>SMOKING:  {{response.smoking}}</li>
      <li>SMOKING:  {{response.guests}}</li>
     </ul>
</div>

<div id="band-div">
<button id="band-button" type="button" href="#" ui-sref-active="active"  ng-click="logout()">
	<span>Logout</span>
</button>
</div>

<!-- <form class="" ng-submit="changes()" ng-show="true">
		<h4>Your current profile settings are listed in the boxes below.  To make changes, enter your new information into the text box and hit "Submit".</h4>
		<h6>(You cannot change your username)</h6>
		<div>
		<h3><strong> Hello {{response.username}}!</strong></h3>
		
		<div>
		Street Address
		<br>
		<label ng-class="">
			<input type="text" placeholder="{{response.street}}" ng-model="street">
		</label>
		</div>
		<div>
		City
		<br>
		<label ng-class="">
			<input type="text" placeholder="{{response.city}}" ng-model="city">
		</label>
		</div>
		<div>
		Zip Code
		<br>
		<label ng-class="">
			<input type="text" placeholder="{{response.zip}}" ng-model="zip">
		</label>
		</div>
		<div>
		Type of place
		<br>
		<label ng-class="">
			<input list="spacetypes" ng-model="spacetypes" placeholder="{{response.spacetypes}}">
            <datalist id="spacetypes">
                  <option value="Garage">hi</option>
                  <option value="Barn">
                  <option value="Basement">
                  <option value="Warehouse">
                  <option value="Attic">
                  <option value="Living Room">
               	  <option value="Spare Room">
                  <option value="Other">
            </datalist>
		</label>
		</div>
		<br>
		<div>
		Loading Issues
		<br>
		<label ng-class="">
			<input list="loading" ng-model="loading" placeholder="{{response.loading}}">
            <datalist id="loading">
                  <option value="None"></option>
                  <option value="Locked Gate"></option>
                  <option value="Stairs"></option>
                  <option value="Guard Dogs"></option>
                  <option value="Limited Parking"></option>
                  <option value="Moat"></option>
            </datalist>
		</label>
		</div>
		<br>
		<div>
		Secure Overnight Storage
		<br>
		<label ng-class="">
			<input list="storage" ng-model="storage" placeholder="{{response.storage}}">
            <datalist id="storage">
                  <option value="Yes"></option>
                  <option value="No"></option>
            </datalist>
		</label>
		</div>
		<br>
		<div>
		Alcohol
		<br>
		<label ng-class="">
			<input list="alcohol" ng-model="alcohol" placeholder="{{response.alcohol}}">
            <datalist id="alcohol">
                  <option value="Yes"></option>
                  <option value="No"></option>
            </datalist>
		</label>
		</div>
		<br>
		<div>
		Indoor smoking 
		<br>
		<label ng-class="">
			<input list="smoking" ng-model="smoking" placeholder="{{response.smoking}}">
            <datalist id="smoking">
                  <option value="Yes"></option>
                  <option value="Nowhere"></option>
                  <option value="Outside"></option>
            </datalist>
		</label>
		<br><br>
		<div>
		Guests 
		<br>
		<label ng-class="">
			<input list="guests" ng-model="guests" placeholder="{{response.guests}}">
            <datalist id="guests">
                  <option value="Yes, come on over!"></option>
                  <option value="Band only"></option>
                  <option value="1 per bandmate"></option>
                  <option value="TBD">
            </datalist>
		</label>
		</div>
		<br>
		<p ng-model="profileerror"> {{profileerror}}</p>
		<button type="submit" id="form-button">Submit</button> -->
	<!-- </form> -->
<!-- </div> -->


 <!-- --> 